<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<p>
    <h2>Welcome to the online Anxiety level predicion </h2>
    Clicking on the next button woul will be directed to a form containing 9 sections. 
    Each section is associated to a certain trait, be calm and honest while giving the responses. 
    Section 1 take around 2 mins to complete.
    Section 2- 9 each take about 20 seconds each to complete. 
</p>
    

    

    
     </div>
</body>
</html>